
body, button{
    background-color: #161717;
    margin:1rem;
    border: none;
}
h1, h2, h3, a, h4 {
    color : #F3F3F3;
    text-decoration:none;
}
a {
    padding-left: 6%;
}
p, img, small {
    color : #8A8B8B;
}

#button, .menu {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;

}

/*h2 {
    visibility: hidden;
}*/
img {
    width : 2rem;
}
h2 {
    display: none;
}
h3 {
    font-size: 20px;
}

li  {
    list-style-type:none;
    display: flex;
    margin-bottom: 2%;
}
.icones {
    align-self: center;
    height: 35px;
}

/* Section voiture img*/

#voiture {
    display: flex;
    justify-content: center;
}

.simone_img, .simone {
    width: 100%;
}

/* Header */

header{
    display: flex;
    align-items: center;
}
header > h1 {
    margin-left: 10%;
}
.meter {
    width : 9%;
    height: 20px;
}

.fleche {
    position: absolute;
    right: 5%;
}

.bloc > .info {
    position: absolute;
    right: 5%;
    top:2%;
}

.graph {
    padding: 10%;
}

.infos-stats {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15%;
}
.infos-stats > li {
    width: 50%;
}

#bloc1, #bloc2 {
    background-color: #212223;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0%;
    width: 100%;
}

